/********************************************************/
/*                   HTML / BODY                        */
/********************************************************/

html
{
    overflow: hidden;

    height: 100%;

    background: #505d6e url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

body
{
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5em;

    overflow: auto;

    height: 100%;

    color: #fff;
    color: rgba(255, 255, 255, .8);
    background: transparent;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


/********************************************************/
/*                        Nav bar                       */
/********************************************************/

.navbar
{
    color: black;
}

.mainmenu
{
    position: fixed;
    z-index: 5;

    width: 10%;
    padding: 30px 0 0 0;
}

@media (min-width: 768px)
{
    .mainmenu
    {
        position: fixed;
    }
    #event-modal .modal-dialog
    {
        margin-top: 180px !important;
    }
    #register-modal .modal-dialog
    {
        width: 350px !important;
    }
}

.navbar-toggle
{
    position: relative;
    top: 0;

    display: block;
    float: left;
    float: left;

    padding: 9px 10px;

    -webkit-transition: all .45s;
       -moz-transition: all .45s;
            transition: all .45s;

    opacity: 1;
    border: 0 none;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    outline: 0;
    background: rgba(255, 255, 255, .2);
    background-image: none;
}

.navbar-toggle .icon-bar
{
    display: block;

    width: 22px;
    height: 2px;

    background: #fff;
}

.navbar-toggle .icon-bar + .icon-bar
{
    margin-top: 4px;
}

.open .navbar-toggle
{
    top: -70px;

    opacity: 0;
}

.mainmenu .dropdown-menu
{
    font-size: 13px;

    top: -14em;
    left: 0;

    display: block;

    padding: 0;

    -webkit-transition: all .45s;
       -moz-transition: all .45s;
            transition: all .45s;

    opacity: 0;
    border: 0 none;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, .1);
    -webkit-box-shadow: none;
            box-shadow: none;
}

.mainmenu .dropdown-menu .active
{
    font-weight: bold;

    color: #fed136;
}

.mainmenu .open .dropdown-menu
{
    top: 2px;

    opacity: 1;
}

.mainmenu .dropdown-menu a
{
    margin: 0;
    padding: 10px 10px;

    text-decoration: none;

    color: white;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

.mainmenu .dropdown-menu a:hover
{
    padding: 10px 8px 10px 12px;

    background: rgba(255, 255, 255, .1);
}


/********************************************************/
/*                       Sections                       */
/********************************************************/

div.divider
{
    width: 100%;
    margin-top: 10px;
    padding: 0 0 5px 0;

    border-top: 1px solid black;
}

.section
{
    z-index: 1;
    top: 0;

    display: none;
    overflow: auto;

    width: 100%;
    height: 100%; /*Sets the scrollable area to 100% of the viewport*/
    /*height: 100%;*/
    min-height: 420px;
    padding-top: 100px;
    padding-bottom: 50px;
}

section#mywall
{
    overflow-x: hidden;
}

#unapprovedEvents
{
    display: block !important;
}

#usersAdminSection
{
    display: block !important;
}

#mywall,
#addevent
{
    padding-top: 80px;
}

@media (min-width: 768px)
{
    .section
    {
        padding-top: 160px;
    }
    #mywall,
    #addevent
    {
        padding-top: 80px;
    }
}

#home
{
    display: block;
}

#logo
{
    display: block;

    width: 50%;
    height: auto;
    margin-top: -5%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px)
{
    #logo
    {
        width: 300px;
    }
}


/********************************************************/
/*                      Typography                      */
/********************************************************/

a
{
    text-decoration: none;

    color: #fff;
}

a:hover,
a:active
{
    text-decoration: underline;

    color: #fff;
}

.lead
{
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.2em;
}

.title,
.subtitle
{
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-size: 7em;
    font-weight: normal;
    line-height: 1em;

    margin-bottom: 20px;

    color: #fdf9f4;
}

.subtitle
{
    font-size: 5em;
    line-height: .9em;

    margin-top: 0;
    margin-bottom: 40px;
}

.tagline
{
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.3em;

    margin-bottom: 40px;
}

@media (max-width: 767px)
{
    .lead
    {
        font-size: 1.3em;
    }
}

.textgold
{
    color: #fed136;
}

.textmaroon
{
    color: #571619;
}


/********************************************************/
/*                   UI - Buttons                       */
/********************************************************/

.btn
{
    text-decoration: none;

    color: #333;
    border: 0 none;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
    text-shadow: none;
}

.btn:hover
{
    color: #000;
}

.btn-lg
{
    font-size: inherit;

    padding: 16px 30px;
}

.btn-link
{
    color: rgba(255, 255, 255, .8);
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active
{
    color: #fff;
}

.btn-default
{
    background: rgba(255, 255, 255, .5);
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active
{
    background: rgba(255, 255, 255, .8);
}

.btn-primary
{
    background: rgba(255, 255, 255, .2);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active
{
    background: rgba(255, 255, 255, .5);
}


/********************************************************/
/*              My Wall - Displaying Events             */
/********************************************************/

.event-list
{
    font-family: 'Lato', sans-serif;

    margin: 0;
    padding: 0;

    list-style: none;
}

.event-list > li
{
    margin: 0 0 20px;
    padding: 0;

    background-color: rgba(255, 255, 255);
    box-shadow: 0 0 5px rgb(51, 51, 51);
    box-shadow: 0 0 5px rgba(51, 51, 51, .7);
}

.event-list > li > time
{
    display: inline-block;

    width: 100%;
    padding: 5px;

    text-align: center;
    text-transform: uppercase;

    color: rgb(255, 255, 255);
    background-color: rgba(254, 209, 54, .7);
}

.event-list > li:nth-child(even) > time
{
    background-color: rgba(87, 22, 25, .7);
}

.event-list > li > time > span
{
    display: none;
}

.event-list > li > time > .day
{
    font-size: 42pt;
    font-weight: 300;
    line-height: 1;

    display: block;
}

.event-list > li time > .month
{
    font-size: 24pt;
    font-weight: 900;
    line-height: 1;

    display: block;
}

.event-list > li time > .time
{
    font-size: 20pt;
    font-weight: 300;
    line-height: 1;

    display: block;
}

.event-list > li > img
{
    display: none;

    opacity: .9;
}

.event-list > li > .info
{
    padding-top: 5px;

    text-align: center;

    background-color: rgba(245, 245, 245, .82);
}

.event-list > li > .social
{
    background-color: rgba(245, 245, 245, .82);
}

.event-list > li > .info > .title
{
    font-size: 13pt;
    font-weight: 700;

    margin: 0;

    color: black;
}

.event-list > li > .info > .desc
{
    font-size: 10pt;
    font-weight: 300;

    margin: 0;

    color: black;
}

.event-list > li > .info > .deschidden
{
    display: none;
}

.event-list > li > .info > ul,
.event-list > li > .social > ul
{
    display: table;

    width: 100%;
    margin: 10px 0 0;
    padding: 0;

    list-style: none;

    text-align: center;
}

.event-list > li > .social > ul
{
    margin: 0;
}

.event-list > li > .info > ul > li,
.event-list > li > .social > ul > li
{
    font-size: 11pt;
    font-weight: 300;

    display: table-cell;

    width: 33%;
    padding: 3px 0;

    cursor: pointer;

    color: rgb(30, 30, 30);
}

.event-list > li > .info > ul > li > i
{
    display: block;

    width: 100%;

    text-decoration: none;

    color: rgb(30, 30, 30);
}

.event-list > li > .social > ul > li
{
    padding: 0;
}

.event-list > li > .social > ul > li > i
{
    padding: 3px 0;
}

.event-list > li > .info > ul > li:hover,
.event-list > li > .social > ul > li:hover
{
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
}

li.facebook i,
li.link i,
li.info i
{
    display: block;

    width: 100%;

    color: rgb(75, 110, 168) !important;
}

li.link i
{
    color: rgb(113, 166, 65) !important;
}

li.info i
{
    color: rgb(87, 22, 25) !important;
}

li.facebook:hover i
{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
}

li.link:hover i
{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(113, 166, 65) !important;
}

li.info:hover i
{
    color: rgb(255, 255, 255) !important;
    background-color: rgb(87, 22, 25) !important;
}

.event-list > li > .social > ul > li > a
{
    text-decoration: none;

    color: inherit;
}

.event-list > li > .info > .desc > span > .descriptionlabel,
.event-list > li > .info > .desc > .descriptionlabel
{
    font-weight: 500;
}

@media (min-width: 992px)
{
    .event-list > li > .info > .title
    {
        font-size: 17pt;
    }
    .event-list > li > .info > .desc
    {
        font-size: 13pt;
    }
}

@media (min-width: 768px)
{
    .event-list > li
    {
        position: relative;

        display: block;

        width: 100%;
        height: 120px;
        padding: 0;
    }
    .event-list > li > time,
    .event-list > li > img
    {
        display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img
    {
        float: left;

        width: 120px;
    }
    .event-list > li > .info
    {
        overflow: hidden;

        background-color: rgba(245, 245, 245, .82);
    }
    .event-list > li > time,
    .event-list > li > img
    {
        width: 120px;
        height: 120px;
        margin: 0;
        padding: 0;
    }
    .event-list > li > .info
    {
        position: relative;

        height: 120px;
        padding-right: 40px;

        text-align: left;
    }
    .event-list > li > .info > .title,
    .event-list > li > .info > .desc
    {
        padding: 0 10px;
    }
    .event-list > li > .info > ul
    {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .event-list > li > .social
    {
        position: absolute;
        top: 0;
        right: 0;

        display: block;

        width: 40px;

        background-color: rgba(0, 0, 0, .0);
    }
    .event-list > li > .social > ul
    {
        border-left: 1px solid rgb(230, 230, 230);
    }
    .event-list > li > .social > ul > li
    {
        display: block;

        padding: 0;
    }
    .event-list > li > .social > ul > li > i
    {
        display: block;

        width: 40px;
        margin-left: -1px;
        padding: 13px 0 13px;
    }
}


/********************************************************/
/*                     Contact Us                       */
/********************************************************/

.list-social .btn
{
    font-size: 1.3em;
    font-weight: bold;
}

.list-social .btn:hover,
.list-social .btn:active,
.list-social .btn:focus
{
    text-decoration: none;
}


/* Social buttons in the footer */

#social
{
    margin-top: 50px;
    margin-bottom: 50px;
}

#social .wrapper
{
    width: 340px;
    margin: 0 auto;
}


/***********************************************************/


/*                    Text Shadows                         */


/***********************************************************/

.text-shadows
{
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.text-shadows .title,
.text-shadows .subtitle,
.text-shadows .tagline
{
    text-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

.text-shadows .mainmenu .dropdown-menu a
{
    text-shadow: 0 2px 1px rgba(0, 0, 0, .2);
}

.text-shadows .mainmenu .dropdown-menu a:hover
{
    text-shadow: none;
}


/***********************************************************/
/*                    Circle button                        */
/***********************************************************/

#circle-wrap
{
    position: relative;
    top: 0;

    display: block;

    width: 102px;
    height: 102px;
    margin: 0 auto 50px;

    cursor: pointer;
    -webkit-transform: translate(-2px, 20px) translateZ(0) translate3d(0, 0, 0);
       -moz-transform: translate(-2px, 20px) translateZ(0) translate3d(0, 0, 0);
        -ms-transform: translate(-2px, 20px) translateZ(0) translate3d(0, 0, 0);
            transform: translate(-2px, 20px) translateZ(0) translate3d(0, 0, 0);
    text-align: center;

       -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
       -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

#circle-wrap a
{
    text-decoration: none !important;
}

.border-inactive
{
    position: absolute;

    width: 100px;
    height: 100px;

    -webkit-transition: all 700ms cubic-bezier(.23, 1, .32, 1);
       -moz-transition: all 700ms cubic-bezier(.23, 1, .32, 1) .08s;
         -o-transition: all 700ms cubic-bezier(.23, 1, .32, 1) .08s;
            transition: all 700ms cubic-bezier(.23, 1, .32, 1) .08s;
    -webkit-transition-delay: .08s;

    opacity: .7;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;

       -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

a:hover .border-inactive
{
    -webkit-transition: all 400ms cubic-bezier(.23, 1, .32, 1);
       -moz-transition: all 400ms cubic-bezier(.23, 1, .32, 1);
         -o-transition: all 400ms cubic-bezier(.23, 1, .32, 1);
            transition: all 400ms cubic-bezier(.23, 1, .32, 1);
    -webkit-transform: scale(1.3) translateZ(0) translate3d(0, 0, 0);
       -moz-transform: scale(1.3) translateZ(0) translate3d(0, 0, 0);
        -ms-transform: scale(1.3) translateZ(0) translate3d(0, 0, 0);
            transform: scale(1.3) translateZ(0) translate3d(0, 0, 0);

    opacity: 0;
    border: 2px solid #fff;
}

.border-active
{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 112px;
    height: 112px;
    margin: -57px 0 0 -57px;

    -webkit-transition: all 400ms cubic-bezier(.23, 1, .32, 1);
       -moz-transition: all 400ms cubic-bezier(.23, 1, .32, 1);
         -o-transition: all 400ms cubic-bezier(.23, 1, .32, 1);
            transition: all 400ms cubic-bezier(.23, 1, .32, 1);
    -webkit-transform: scale(.8) translateZ(0) translate3d(0, 0, 0);
       -moz-transform: scale(.8) translateZ(0) translate3d(0, 0, 0);
        -ms-transform: scale(.8) translateZ(0) translate3d(0, 0, 0);
            transform: scale(.8) translateZ(0) translate3d(0, 0, 0);

    opacity: 0;
    border: 2px solid #fed136;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;

       -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

a:hover .border-active
{
    -webkit-transition: all 700ms cubic-bezier(.23, 1, .32, 1);
       -moz-transition: all 700ms cubic-bezier(.23, 1, .32, 1) .03s;
         -o-transition: all 700ms cubic-bezier(.23, 1, .32, 1) .03s;
            transition: all 700ms cubic-bezier(.23, 1, .32, 1) .03s;
    -webkit-transition-delay: .03s;
    -webkit-transform: scale(1) translateZ(0) translate3d(0, 0, 0);
       -moz-transform: scale(1) translateZ(0) translate3d(0, 0, 0);
        -ms-transform: scale(1) translateZ(0) translate3d(0, 0, 0);
            transform: scale(1) translateZ(0) translate3d(0, 0, 0);

    opacity: 1;
}

.letter
{
    font: 60px/45px 'Oswald', sans-serif;

    position: relative;

    -webkit-transition: all 500ms cubic-bezier(.23, 1, .32, 1);
       -moz-transition: all 500ms cubic-bezier(.23, 1, .32, 1);
         -o-transition: all 500ms cubic-bezier(.23, 1, .32, 1);
            transition: all 500ms cubic-bezier(.23, 1, .32, 1);
    -webkit-transform: translate(1px, 5px) translateZ(0) translate3d(0, 0, 0);
       -moz-transform: translate(1px, 5px) translateZ(0) translate3d(0, 0, 0);
        -ms-transform: translate(1px, 5px) translateZ(0) translate3d(0, 0, 0);
            transform: translate(1px, 5px) translateZ(0) translate3d(0, 0, 0);

    opacity: .7;
    color: #fff;

       -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

a:hover .letter
{
    -webkit-transition: all 700ms cubic-bezier(.23, 1, .32, 1);
       -moz-transition: all 700ms cubic-bezier(.23, 1, .32, 1);
         -o-transition: all 700ms cubic-bezier(.23, 1, .32, 1);
            transition: all 700ms cubic-bezier(.23, 1, .32, 1);
    -webkit-transform: translate(1px, 1px) translateZ(0) translate3d(0, 0, 0);
       -moz-transform: translate(1px, 1px) translateZ(0) translate3d(0, 0, 0);
        -ms-transform: translate(1px, 1px) translateZ(0) translate3d(0, 0, 0);
            transform: translate(1px, 1px) translateZ(0) translate3d(0, 0, 0);

    opacity: 1;
}

.underline
{
    position: relative;

    width: 31px;
    height: 7px;
    margin: 0 auto;

    -webkit-transition: all 500ms cubic-bezier(.23, 1, .32, 1);
       -moz-transition: all 500ms cubic-bezier(.23, 1, .32, 1);
         -o-transition: all 500ms cubic-bezier(.23, 1, .32, 1);
            transition: all 500ms cubic-bezier(.23, 1, .32, 1);
    -webkit-transform: translate(1px, 30px) translateZ(0) translate3d(0, 0, 0);
       -moz-transform: translate(1px, 30px) translateZ(0) translate3d(0, 0, 0);
        -ms-transform: translate(1px, 30px) translateZ(0) translate3d(0, 0, 0);
            transform: translate(1px, 30px) translateZ(0) translate3d(0, 0, 0);

    opacity: .4;
    background: #fed136;

       -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

a:hover .underline
{
    -webkit-transition: all 700ms cubic-bezier(.23, 1, .32, 1);
       -moz-transition: all 700ms cubic-bezier(.23, 1, .32, 1);
         -o-transition: all 700ms cubic-bezier(.23, 1, .32, 1);
            transition: all 700ms cubic-bezier(.23, 1, .32, 1);
    -webkit-transform: translate(1px, 35px) translateZ(0) translate3d(0, 0, 0);
       -moz-transform: translate(1px, 35px) translateZ(0) translate3d(0, 0, 0);
        -ms-transform: translate(1px, 35px) translateZ(0) translate3d(0, 0, 0);
            transform: translate(1px, 35px) translateZ(0) translate3d(0, 0, 0);

    opacity: 1;
}


/***********************************************************/
/*                        Modals                           */
/***********************************************************/

.modal button.close
{
    font-size: 26px;

    margin-top: 0;

    opacity: 1;
    color: rgba(87, 22, 25, 1);
    outline: 0;
    text-shadow: none;
}

.modal button.close:hover,
.modal button.close:focus
{
    color: rgba(87, 22, 25, .7);
}

#register-modal .modal-dialog
{
    font-family: 'Roboto', sans-serif;

    position: relative;

    width: auto;
}

#event-modal .modal-dialog
{
    font-family: 'Lato', sans-serif;

    margin-top: 20px;

    color: black;
}

#event-modal .modal-dialog .modal-body img
{
    width: 120px;
}

#event-modal .modal-dialog .modal-header
{
    padding: 5px 5px 5px 5px;

    border-bottom: 1px solid black;
}

#event-modal .modal-dialog .modal-header .title
{
    font-size: 17pt;
    font-weight: 700;

    padding-left: 26px;

    color: black;
}

#register-modal input[type=text],
input[type=password]
{
    margin-top: 10px;
}

#div-lost-msg,
#div-register-msg
{
    line-height: 28px;

    height: 30px;

    transition: all ease-in-out 500ms;

    color: black;
    border: 1px solid #fed136;
}

#div-lost-msg.success,
#div-register-msg.success
{
    border: 1px solid #68c3a3;
    background-color: #c8f7c5;
}

#div-lost-msg.error,
#div-register-msg.error
{
    border: 1px solid #eb575b;
    background-color: #ffcad1;
}

#icon-lost-msg,
#icon-register-msg
{
    line-height: 28px;

    float: left;

    width: 30px;
    margin-right: 5px;

    transition: all ease-in-out 500ms;
    text-align: center;

    color: black;
    background-color: #fed136;
}

#icon-lost-msg.success,
#icon-register-msg.success
{
    background-color: #68c3a3 !important;
}

#icon-lost-msg.error,
#icon-register-msg.error
{
    background-color: #eb575b !important;
}

#img_logo
{
    max-width: 100px;
    max-height: 100px;
    margin-right: -26px;
}

.modal-backdrop.in
{
    opacity: .6;

    filter: alpha(opacity=50);
}

.modal-content
{
    border: 0;
    border-radius: 0;
    outline: 0;
    background-color: rgba(236, 236, 236, 1);
}

.modal-header
{
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;

    text-align: center;

    border-bottom: 0;
}

.modal-body
{
    position: relative;

    padding: 5px 15px 5px 15px;
}

.modal-footer
{
    padding: 15px 15px 15px 15px;

    text-align: left;

    border-top: 0;
}

div.modal-content .btn
{
    border-radius: 0;
}

input
{
    border-radius: 0;
}

div.modal-content .btn:focus,
div.modal-content .btn:active:focus,
div.modal-content .btn.active:focus,
div.modal-content .btn.focus,
div.modal-content .btn:active.focus,
div.modal-content .btn.active.focus
{
    outline: none;
}

div.modal-content .btn-lg,
div.modal-content .btn-group-lg > .btn
{
    color: white;
    border-radius: 0;
    background-color: #571619;
}

div.modal-content .btn-link
{
    padding: 5px 10px 0 0;

    color: #2c3e50;
}

div.modal-content .btn-link:hover,
div.modal-content .btn-link:focus
{
    text-decoration: none;

    color: #571619;
}

div.modal-content .glyphicon
{
    top: 0;
}

div.modal-content .form-control
{
    border-radius: 0;
}

.registererrors,
.losterrors
{
    padding-top: 5px;

    color: #571619;
}

.eventerrors
{
    margin-top: 10px;

    color: #fff;
    background-color: rgba(87, 22, 25, .8);
}


/***********************************************************/
/*                    Date Picker Menu                     */
/***********************************************************/

.date .bootstrap-datetimepicker-widget
{
    color: white;
    background-color: rgba(0, 0, 0, .7);
}

.date .btn
{
    color: white;
}


/***********************************************************/
/*                    Add Event Form                       */
/***********************************************************/

.form-control,
.input-group-addon
{
    border-radius: 0;
}

form#addevent-form input:not(.submit),
form#addevent-form textarea
{
    color: white;
    background-color: rgba(0, 0, 0, .8);
}

form#addevent-form span
{
    font-weight: bold;

    color: white;
    background-color: rgba(87, 22, 25, .8);
}

form#addevent-form label
{
    font-weight: bold;

    color: white;
    border-radius: 1px;
}

#addevent .input-group,
#addevent .form-group
{
    padding-bottom: 10px;
}

.popover-title
{
    background-color: rgba(0, 0, 0, .9);
}

.popover
{
    background-color: rgba(0, 0, 0, .7);
}

.submitrow a,
.submitrow input
{
    margin-top: 10px;
    padding: 5px 5px 5px 5px;

    color: white;
    border: 1px solid #fff;
    border-radius: 0;
    background-color: rgba(87, 22, 25, .9);
}


/***********************************************************/
/*                    Admin Panel Login                    */
/***********************************************************/

.form-box
{
    margin-top: 70px;
}

.form-top
{
    overflow: hidden;

    padding: 0 25px 0 25px;

    text-align: left;

    background: rgba(87, 22, 25, .7);
}

.form-top-left
{
    float: left;

    width: 75%;
    padding-top: 25px;
}

.form-top-left h3
{
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;

    margin-top: 0;

    color: #fff;
}

.form-top-right
{
    font-size: 66px;
    line-height: 100px;

    float: left;

    width: 25%;

    text-align: right;

    opacity: .5;
    color: #fff;
}

.form-bottom
{
    padding: 25px 25px 25px 25px;

    text-align: left;

    background: rgba(87, 22, 25, .5);
}

.form-bottom form textarea
{
    height: 100px;
}

.form-bottom form button.btn
{
    width: 100%;
}

#alertAdminRegister
{
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 12px;

    color: red;
}


/***********************************************************/
/*                    Table Formatting                     */
/***********************************************************/

div.table-wrapper
{
    width: 100%;

    opacity: .9;
}

table
{
    font-size: 13px;

    width: 75%;
    margin: 0 auto;

    border-collapse: collapse;

    color: #333;
    border-width: 1px;
    border-color: #666;
}

table th
{
    padding: 8px;

    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #666;
    background-color: #571619;
}

table td
{
    padding: 8px;

    border-width: 1px;
    border-style: solid;
    border-color: #666;
    background-color: #fff;
}

table tr:nth-child(even) td
{
    background-color: #fed136;
}


/***********************************************************/
/*                       ReCaptcha                         */
/***********************************************************/

div.g-recaptcha
{
    width: 304px;
    margin: 0 auto;
}


/***********************************************************/
/*                     Search Form                         */
/***********************************************************/

#search-form #search_input
{
    font-family: 'Lato';
    font-size: 40px;
    font-weight: 300;
    line-height: normal;

    z-index: 3;
    top: 0;
    right: 0;

    width: 100%;
    height: 60px;
    padding: 10px;

    cursor: pointer;

    color: #fff;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    /*background: none;*/
    background: rgba(0,0,0,.1);
}

.search-wrap
{
    margin-bottom: 40px;
    padding: 0;
}

#search-form #search_input:focus
{
    cursor: text;
}

::-webkit-input-placeholder
{
    font-family: FontAwesome, 'Lato';

    color: #eee;
}
::-moz-placeholder
{
    font-family: FontAwesome, 'Lato';

    color: #eee;
}
/* firefox 19+ */
:-ms-input-placeholder
{
    font-family: FontAwesome, 'Lato';

    color: #eee;
}
/* ie */
input:-moz-placeholder
{
    font-family: FontAwesome, 'Lato';

    color: #eee;
}
